body {
  @apply overscroll-none bg-transparent;
}

:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto,
    Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas,
    monospace;
  --font-inter: var(--font-sans);
  --header-height: calc(var(--spacing) * 12 + 1px);
}
